.marks {
  overflow: hidden;
  .marks_container {
    list-style: none;
    height: 100%;
    padding-bottom: 70px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-duration: 36.675s;
    animation-name: animMarks;
    box-sizing: content-box !important;
    .t1003__item {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      gap: 40px;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-negative: 0;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
      max-height: 100%;
      white-space: nowrap;
      pointer-events: all;
      -webkit-transform: translateZ(0);
      .t-text {
        padding: 0 10px;
        color: #ffffff;
        font-size: 20px;
        font-family: 'Arial';
        line-height: 1.55;
        white-space: nowrap;
        pointer-events: all;
        list-style: none;
        font-weight: 300;
      }
    }
  }
}

@keyframes animMarks {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  100% {
    transform: translateX(-1780px);
    -webkit-transform: translateX(-1780px);
  }
}
