.open {
  // position: absolute;
  width: fit-content;
  font-size: 7rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 2rem 4rem 3.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  text-align: center;
}

.open::-moz-selection {
  background-color: #08f;
  color: #f40;
}

.open::selection {
  background-color: #08f;
  color: #f40;
}

.open:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem #f40, 0 0 4rem #f40,
      0 0 6rem #f40, 0 0 8rem #f40, 0 0 10rem #f40;

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f, inset 0 0 2rem #08f,
      0 0 4rem #08f, inset 0 0 4rem #08f;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
