.works {
  .works_container {
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    .title {
      margin-bottom: 30px;
    }
    .card {
      overflow: hidden;
      transition: all 0.2s;
      .card-img-top {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        transition: all 0.4s;
        cursor: pointer;
      }
      .card-body {
        position: absolute;
      }
      &:hover {
        box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
          0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
        .card-img-top:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
