body {
  background: linear-gradient(
    135.8deg,
    rgb(26, 26, 29) 27.1%,
    rgb(111, 34, 50) 50.5%,
    rgb(36 18 54) 84.5%
  );
  .btn-top {
    position: fixed;
    bottom: 30px;
    left: 10px;
    background-color: rgb(0 0 0 / 38%);
    color: white;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    font-size: 21px;
    width: 50px;
    height: 50px;
    transition: 0.4s;
    svg {
      display: inline-block;
      width: 80%;
      height: 80%;
    }
    &:hover {
      background-color: #313131c0;
    }
  }
}
